html,body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height:100%;
    margin:0;
    padding: 0;
}
md-toolbar h3 {
    margin:auto;
    font-weight: 700;
}

md-list-item > button {
    width:100%;
    font-weight: 700;
    text-align: left;
}
.btn1 {
    background-color: lightgreen;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 1;
    transform: translateZ(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}
.category {
    padding:20px 10px 0px 10px;
    width:150px;
    height: 150px;
    display: inline-block;
    float: left;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.category:hover {
    -webkit-transform: scale(1.4);
    border: 1px solid lightblue;
}

.category:first-child {
    margin-left: 30px;
}
ul {
    list-style-type: none;
}