<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery App</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

</head>
<body ng-app="MyApp" layout="column">
<md-toolbar>
    <h1>Grocery List Application</h1>
</md-toolbar>
<div class="container" layout="row" flex ng-controller="ItemsCtrl">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
        <md-list>
            <md-list-item ng-repeat="categories in categoriesObj">
                <md-button>
                    <md-icon md-svg-src="{{ categories.img }}" class="avatar"></md-icon>
                    <h2>{{ categories.name }}</h2>
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content id="content" class="lightgreen" flex >
        <md-input-container class="md-icon-float md-block"  layout="row" layout-align="center center" flex-offset="25" >
                <label >What to add?</label>
                <input flex="30" flex-order="1" ng-model="name" type="text">
                <md-button flex="60" flex-order="2" md-no-ink class="md-primary btn1" ng-click="pushItem(name,amount,category)">Add Item to List</md-button>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm layout="row" layout-align="center center" flex-offset="25" >
            <label>Amount</label>
            <md-select flex="30" flex-order="1" ng-model="amount">
                <md-option ng-repeat="amount in amounts" value="{{amount.abbrev}}">
                    {{amount.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm layout="row" layout-align="center center" flex-offset="25" >
            <label>Amount</label>
            <md-select flex="30" flex-order="1" ng-model="category">
                <md-option ng-click="chooseThumb()" ng-repeat="category in categories" value="{{category.abbrev}}">
                    {{category.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-list flex layout="row">
            <md-list-item ng-click="chooseItem(categories.name)" ng-repeat="categories in categoriesObj" ng-model="thumb">
                <img class="category" ng-src="{{categories.img}}">
            </md-list-item>
        </md-list>

{{categories}}
        {{thumb}}

    </md-content>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="js/controllers/itemsCtrl.js"></script>
</body>
</html>